
$font-size: 14px;

// taille des icones et sous icones
$icon-size: 20px;
$sub-menu-icon-size: 15px;

$sub-menu-color: rgba(255, 255, 255, 0.116); // Couleur background sous menu
$nav-text-color: rgb(255, 255, 255);
$nav-hover-color: rgb(189, 181, 181); // couleur survol
$active-state-color: rgba(255, 255, 255, 0.103); // couleur de lien actif

$bg-color-1: #575555; // couleur background du menu
$bg-color-2: #575555; // couleur 2 du background
$nav-min-width: 50px;
$nav-extended: 300px;
$menu-margin-left: 10px;
$menu-margin-top: 5rem;
$menu-height: calc(100% - 5rem - 5rem); // hauteur du menu

/* lower btn (ecran clickable en mode touchscreen) */

$ham-btn-mg-left: $nav-extended + $menu-margin-left;
$lower-btn-color: rgba(71, 71, 71, 0.205);
$btn-color: rgba(255, 255, 255, 0.705);
$btn-bg-color: $bg-color-1;

/* Button d'ouverture/ fermeture de menu en mode touchScreen */
$toggle-btn-icon-size: 25px;

#cmp-nav-left {
  z-index: 1040 !important;
  overflow: hidden;
  margin: $menu-margin-top 0 0 $menu-margin-left;
  height: $menu-height;
  color: $nav-text-color;
  font-size: $font-size;
  position: fixed;
  background: linear-gradient(0, $bg-color-2, $bg-color-1);
  border-radius: 10px;
  transition: all 0.5s;
  white-space: nowrap;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Gestion de la taille ouvert et fermé en taille standard */
.is-close {
  width: $nav-min-width;
}
.is-open {
  width: $nav-extended;
}

/* **************** */
/* Elements du menu */
/* **************** */
.myA,
.myA:visited,
.myA:link {
  display: flex;
  align-items: center;
  color: $nav-text-color;
  text-decoration: none;
}

.myA:hover{
  color: $nav-hover-color !important
}


.nav-icon {
  min-width: $nav-min-width;
  max-width: $nav-min-width;
  font-size: $icon-size;
  text-align: center;
}

/* Elements du milieu */

.nav-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden ;
  overflow-y: scroll;
  scrollbar-width: none;
  height: calc(100%);
}

/* *********************** */
/* Premier / Dernier element du menu */
/* *********************** */

// barre HR
.top-hr{
  margin: 0.5rem
}

.firstElement{
  margin-top: 0.5rem;
}

.lastElement{
  justify-self: flex-end;
  width: $nav-extended;
  margin-top: auto;
  margin-bottom: 0px;
}

/* **************** */
/* ***sous-menu**** */
/* **************** */
.nav-submenu-icon {
  min-width: $nav-min-width;
  font-size: $sub-menu-icon-size;
}
.sousmenu {
  width: $nav-extended;
  padding: 0 0 0 0;
  background-color: $sub-menu-color;
}
.sousmenu > a {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* Gestion de la fleche des accordions */
.collapsed > .accordion-state {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

.accordion-state {
  transform: rotate(-90deg);
  margin: 0 20px 0 auto;
  font-size: 10px;
  transition-duration: 0.5s;
}

/* ********************* */
/* Gestion du lien actif */
/* ********************* */

.router-link-exact-active {
  background-color: $active-state-color;
}

/* **************** */
/* **Toggle button* */
/* **************** */

.toggle-btn {
  align-items: center;
  background-color: $btn-bg-color;
  border-radius: 0px 5px 5px 0;
  color: $btn-color;
  display: flex;
  font-size: $toggle-btn-icon-size;
  justify-content: center;
  margin-top: $menu-margin-top + 1rem;
  min-height: 40px;
  min-width: 30px;
  position: fixed;
  transition: all 0.5s;
  visibility: hidden;
  z-index: 1041 !important;
}

/* Cache le scroll */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* Gestion des anciens Webkit */
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
.btn:disabled {
  padding-left: 0 !important;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
/* responsive under 1025px */

@media screen and (max-device-width: 1024px) {

}

/* changement de l'état du composant si version mobile */

@media screen and(hover:none){
  .lowerBtn{
   z-index:1039 !important;
    position:fixed;
    width: 100%;
    height:100%;
    background-color: $lower-btn-color;
  }

  .is-close {
    width: $nav-extended;
    left : -$nav-extended - $menu-margin-left
  }

  .is-open {
    left:0
  }

  #cmp-nav-left {
    margin-top: 5rem;
  }

  .toggle-btn {
    visibility: visible;
  }

  .btn-is-open {
    margin-left: $ham-btn-mg-left;
  }

  .btn-is-close {
    position: absolute;
    margin-left: 0px
  }
}